

<?php /** @var $block \Ivan\FirstBlog\Block\PostList */ ?>
<h1><?php echo __('Latest FirstBlog Posts') ?></h1>
<ul class="FirstBlog-post-list">
    <?php /** @var $post \Ivan\FirstBlog\Model\Post */ ?>
    <?php foreach ($block->getPosts() as $post): ?>
        <h1><?=$post->getUrlKey() ?></h1>
        <li class="FirstBlog-post-list-item">
            <h3 class="FirstBlog-post-item-title">
                <a href="<?php echo $post->getUrlKey() ?>"><?php echo $post->getTitle() ?></a>
            </h3>

            <div class="FirstBlog-post-item-content">
                <?php echo $post->getContent(); ?>
            </div>

            <div class="FirstBlog-post-item-meta">
                <strong><?php echo __('Created at:') ?></strong> <?php echo $post->getCreationTime() ?>
            </div>
        </li>
    <?php endforeach; ?>
</ul>